<launch>
    <arg name="config_path" default="$(find open_slam)/config/robot_d02.yaml" />
    <node pkg="open_slam" type="slam_node" name="slam_node" output="screen" launch-prefix="gdb -ex run --args">
        <param name="config_path" value="$(arg config_path)" />
    </node>
launch-prefix="gdb -ex run --args"

</launch>   